---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";

const meta = {
	title: "About me",
	description: "Roberto Salas About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About me</h1>
		<p>Hi! My name is Roberto Salas and I am a software engineer with quite a few years of experience. I consider myself a lifelong learning engineer with a growth mindset, interested in new technologies.</p>
		<p>My current stack of technologies: Vue, Python, Flask, Docker, MongoDB, DigitalOcean/AWS, Linux, API development.</p>
		<p>I have experience automating and conecting things, cloud development, API design, cybersecurity and and now putting a lot of effort into learning in data science..</p>
		<p>If I can help with anything, feel free to contact me at any of the following links:</p>
		<SocialList />
	</div>
</PageLayout>
