---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "Projects",
	description: "Projects of Roberto Salas",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Projects</h1>
		<p>Comming soon.</p>
	</div>
</PageLayout>
